# Exclude everything in the public directory
public/*

# Re-include subdirectories
!public/img/

# Include specific file types
!public/*.png
!public/*.xml
!public/*.ico
!public/*.json
!public/*.txt
!public/img/**/*.svg
!public/img/**/*.png
!public/img/**/*.jpg
!public/img/**/*.gif

# Ignore VSCode settings
.vscode
