{
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 100
            }
        }
    ]
}
