$sans: 'Quattrocento Sans', sans-serif;
$serif: 'PT Serif', Times, serif;

$white: #fff;
$black: #111;

$gray-50: #f8f8fa;
$gray-100: #eaeaea;
$gray-200: #d1d1da;
$gray-300: #b5b5c4;
$gray-400: #7e7e98;
$gray-500: #505061;

$green-200: #e4f9c8;
$green-300: #d1e8b3;
$green-400: #afd779;
$primary: #8dc640;
$green-700: #557726;

$blue-100: hsl(234, 23%, 90%);
$blue-400: #4f5379;
$blue-500: #393f80;
$blue-600: #2d3163;
$secondary: #0f103a;

$h-screen: 100vh;
$full: 100%;
$half: 50%;
$one-third: 33.333333%;
$two-thirds: 66.666667%;

// LENGTHS

// rems
$l-16: 1.6rem;
$l-20: 2rem;
$n-16: -1.6rem;
$n-20: -2rem;
$l-24: 2.4rem;
$l-32: 3.2rem;
$l-40: 4rem;
$l-48: 4.8rem;
$l-64: 6.4rem;
$l-80: 8rem;
$l-100: 10rem;
$l-192: 19.2rem;
$l-690: 69rem;
$l-768: 76.8rem;

// percentages
$not-quite-half: 45%;
$two-thirds-plus: 70%;
$full: 100%;

// rainbow
$green: #a4e34e;
$blue: #53d5c9;
$pink: #e977e5;
