<p class="m-0 font-serif text-lg text-mine-shaft-600">
  <span class="italic">
    <% if (me !== true) { %> <%= me %> <% } else { %> Phillip Harrington <% } %>
  </span>
  <span class="mx-1">|</span>
  <span class="italic"><%= date %></span>
</p>
