@tailwind base;

/*
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
*/

@tailwind components;

/* Custom styles go here, before utilities */
::-moz-selection {
  background-color: #7bc61c;
  color: #000;
}

::selection {
  background-color: #7bc61c;
  color: #000;
}

.bg-left-quote {
  background-image: url(/img/left-quotes.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: -10px -10px;
}

@tailwind utilities;
