<footer
    class="border-th-border text-th-muted clear-both mx-0 mt-20 flex w-full flex-col-reverse items-center justify-center gap-4 border-t p-6 text-xs lg:min-h-24 lg:flex-row lg:justify-between lg:gap-0"
>
    <div class="text-center lg:w-1/3 lg:text-left">
        Copyright &copy; Phillip Harrington.
        <br />
        All rights reserved.
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/3">
        <p class="m-0 mb-1 flex flex-row items-center justify-center gap-1 p-0 text-nowrap">
            Made with
            <svg class="h-5 w-5 fill-red-500">
                <use xlink:href="/img/icons.svg#icon-heart"></use>
            </svg>
            in Smithfield, NC
        </p>
        <p class="m-0 p-0 text-center">
            This website doesn't set any damn cookies,
            <br />
            and every em dash is my own.
        </p>
    </div>
    <div class="flex w-1/3 flex-row items-center justify-center gap-3 lg:justify-end lg:gap-2">
        <a
            href="https://github.com/phillipsharring"
            target="_blank"
            title="Phillip Harrington on GitHub"
            class="text-th-muted hover:text-th-accent transition-colors duration-200"
        >
            <svg class="h-7 w-7 fill-current lg:h-5 lg:w-5">
                <use xlink:href="/img/icons.svg#icon-github"></use>
            </svg>
        </a>
        <a
            href="https://www.linkedin.com/in/phillipsharring"
            target="_blank"
            title="Phillip Harrington on LinkedIn"
            class="text-th-muted hover:text-th-accent transition-colors duration-200"
        >
            <svg class="h-7 w-7 fill-current lg:h-5 lg:w-5">
                <use xlink:href="/img/icons.svg#icon-linkedin"></use>
            </svg>
        </a>
        <a
            href="https://x.com/phillipsharring"
            target="_blank"
            title="Phillip Harrington on Twittix"
            class="text-th-muted hover:text-th-accent transition-colors duration-200"
        >
            <svg class="h-7 w-7 fill-current lg:h-5 lg:w-5">
                <use xlink:href="/img/icons.svg#icon-twitter"></use>
            </svg>
        </a>
    </div>
</footer>
