<% with(locals || { metaDescription: '', metaKeywords: '', ogTitle: '',
ogDescription: '', ogImage: '', url: '', yield: '' }) { %>
<!doctype html>
<html lang="en" class="m-0 h-[100.09%] p-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- meta %>
    <meta
      property="og:url"
      content="https://phillipharrington.com/<%= url %>"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="body" class="relative m-0 flex h-full flex-col overflow-auto p-0">
    <a href="#main" class="sr-only focus:not-sr-only">Skip to content</a>
    <layout-header></layout-header>
    <layout-main> <%- yield %> </layout-main>
    <layout-footer></layout-footer>
    <script src="/js/script.js"></script>
  </body>
</html>
<% } %>
