<footer
  class="clear-both mx-0 mt-20 flex w-full flex-col-reverse items-center justify-center gap-2 border-t border-b-red-950 bg-gradient-to-b from-amber-400 to-red-800 p-4 text-xs text-stone-200 shadow-lg lg:container md:mx-auto md:w-4/5 lg:h-16 lg:min-h-16 lg:w-3/4 lg:flex-row lg:justify-between lg:gap-0"
>
  <div class="text-center lg:w-1/3 lg:text-left">
    Copyright &copy; Phillip Harrington.<br />All rights reserved.
  </div>
  <div
    class="flex flex-row items-center justify-center gap-1 text-nowrap lg:w-1/3"
  >
    Made with
    <svg class="h-6 w-6 fill-red-600">
      <use xlink:href="/img/icons.svg#icon-heart"></use>
    </svg>
    in Smithfield, NC
  </div>
  <div
    class="flex w-1/3 flex-row items-center justify-center gap-3 lg:justify-end lg:gap-1"
  >
    <a
      href="https://github.com/phillipsharring"
      target="_blank"
      class=""
      title="Phillip Harrington on GitHub"
    >
      <svg class="h-8 w-8 fill-stone-200 lg:h-6 lg:w-6">
        <use xlink:href="/img/icons.svg#icon-github"></use>
      </svg>
    </a>
    <a
      href="https://www.linkedin.com/in/phillipsharring"
      target="_blank"
      class=""
      title="Phillip Harrington on LinkedIn"
    >
      <svg class="h-8 w-8 fill-stone-200 lg:h-6 lg:w-6">
        <use xlink:href="/img/icons.svg#icon-linkedin"></use>
      </svg>
    </a>
    <a
      href="https://x.com/phillipsharring"
      target="_blank"
      class=""
      title="Phillip Harrington on Twittix"
    >
      <svg class="h-8 w-8 fill-stone-200 lg:h-6 lg:w-6">
        <use xlink:href="/img/icons.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
</footer>
